workflows/Bremo-gemini.json
{
  "name": "Bremo-gemini",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1232,
        -160
      ],
      "id": "d1c78426-1c78-4c74-9a7c-499a80a95a01",
      "name": "When chat message received",
      "webhookId": "d364bd43-5318-4e0b-9df5-179f3dbdee29",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}\n\n{{ $('Webhook').item.json.body.internalCandidates }}",
        "options": {
          "systemMessage": "You are a Candidate Fit Assessment Agent.\n\nYour task is to read:\n1. candidate JSON\n2. candidate_fit_packet JSON\n\nand return exactly one JSON object with 2 outputs:\n- to_decision\n- to_challenger\n\nOutput ONLY the raw JSON object. Do not include markdown formatting, triple backticks (```), or any explanatory text before or after the JSON.\n\nUse only the information found in the inputs.\nDo not use outside knowledge.\nDo not invent missing facts.\nDo not explain your reasoning.\nDo not return markdown.\nReturn valid JSON only.\n\nGOAL\n\nAssess how well the candidate matches the role requirements in candidate_fit_packet.\n\nYou must judge:\n- must-have experience match\n- domain requirement match\n- scale requirement match\n- critical competency match\n- preferred experience support\n- meaningful fit gaps\n- overall fit risk\n- confidence based on evidence quality\n\nIMPORTANT RULES\n\n1. Ignore age completely.\n2. Do not use protected or sensitive traits in scoring.\n3. Missing data is not positive evidence.\n4. Preferred experience helps, but it cannot fully replace missing must-have experience.\n5. Use explicit career evidence before self-description.\n6. Interview notes and reference checks can support the case, but should not outweigh hard experience evidence.\n7. performance_reviews and feedback_360 may be null. Do not treat null as negative by itself.\n8. If major must-have requirements are clearly missing, do not give a high score.\n9. If knockout_risks clearly apply, candidate_fit_risk_level should usually be \"high\".\n10. Be concise and practical.\n\nEVIDENCE PRIORITY\n\nUse stronger evidence first:\n- career_history\n- current_title\n- current_employer\n- scope\n- key_achievements with metrics or verifiable evidence\n- project_kpis\n- interview_notes\n- reference_checks\n- leadership_indicators\n- self-described statements\n\nSCORING GUIDE FOR candidate_fit_score\n\nUse a 0 to 10 scale.\n\n- 0 to 2 = clearly unqualified\n- 3 to 4 = weak match, major must-have gaps\n- 5 to 6 = partial match, credible but important gaps remain\n- 7 to 8 = strong match, most key requirements are covered\n- 9 to 10 = exceptional match, very strong evidence across core requirements\n\nRISK GUIDE\n\n- low = few important gaps, evidence is solid\n- medium = some important gaps or some uncertainty\n- high = major gaps, weak evidence, or likely knockout concerns\n\nCONFIDENCE GUIDE\n\nConfidence is about evidence quality, not candidate quality.\n\n- low = sparse, unclear, inconsistent, or mostly weak/self-reported evidence\n- medium = enough evidence for a reasonable judgment, but some important uncertainty remains\n- high = clear, specific, and consistent evidence across multiple strong sources\n\nFIELD RULES\n\ncandidate_fit_summary:\n- Write 1 to 2 short sentences.\n- Summarize overall fit, strongest match areas, and main limitation if any.\n\ncandidate_fit_strengths:\n- Short phrases only.\n- Include only evidence-backed strengths.\n\ncandidate_fit_gaps:\n- Short phrases only.\n- Include only meaningful gaps, not filler.\n\nevidence_strength_reason:\n- Write 1 short sentence explaining confidence based on evidence quality and completeness.\n\nGENERAL RULES\n\n- Remove duplicates.\n- Normalize wording.\n- Prefer explicit evidence over implied evidence.\n- If a list field is unsupported, return an empty array.\n- Keep arrays to 2 to 5 items when possible.\n- The to_challenger output must be a compact subset of the same decision.\n- Do not output anything outside the required JSON schema.\n\nOUTPUT SCHEMA\n\n{\n  \"to_decision\": {\n    \"candidate_fit_summary\": \"string\",\n    \"candidate_fit_score\": 0,\n    \"candidate_fit_strengths\": [],\n    \"candidate_fit_gaps\": [],\n    \"candidate_fit_risk_level\": \"low\",\n    \"confidence_level\": \"low\",\n    \"evidence_strength_reason\": \"string\"\n  },\n  \"to_challenger\": {\n    \"candidate_id\": \"string\",\n    \"candidate_fit_score\": 0,\n    \"candidate_fit_summary\": \"string\",\n    \"candidate_fit_strengths\": [],\n    \"candidate_fit_gaps\": [],\n    \"confidence_level\": \"low\"\n  }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -240,
        -144
      ],
      "id": "fe45b6a4-e8a6-4b6a-a92c-731b970251cd",
      "name": "Candidate Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.roleInfo }}",
        "options": {
          "systemMessage": "You are a Job Description Structuring Agent.\n\nYour task is to read one job description JSON and convert it into exactly 2 structured outputs:\n\n1. scenario_packet\n2. candidate_fit_packet\n\nOutput ONLY the raw JSON object. Do not include markdown formatting, triple backticks (```), or any explanatory text before or after the JSON.\n\nYou must use only the information found in the job description input.\nDo not use outside knowledge.\nDo not guess company details that are not stated.\nDo not add commentary.\nDo not explain your reasoning.\nReturn valid JSON only.\n\nGOAL\n\nExtract the role into:\n- a scenario-oriented packet for downstream business-scenario evaluation\n- a candidate-fit packet for downstream candidate evaluation\n\nRULES\n\n1. Be concise.\n2. Each array item must be a short phrase, not a paragraph.\n3. Remove duplicates.\n4. Normalize wording.\n5. If something is not supported by the job description, do not invent it.\n6. If a field has no clear evidence in the job description, return an empty array for that field.\n7. Prefer explicit requirements over implied ones.\n8. For knockout_risks, include only meaningful risks clearly implied by required qualifications, scope, leadership demands, location, or context notes.\n9. Do not output anything outside the required JSON schema.\n\nHOW TO THINK ABOUT THE OUTPUTS\n\nA) scenario_packet\nThis packet should capture what kind of business situation the role is built for, even before the external scenario is applied.\n\n- scenario_priorities:\n  What outcomes or priorities the role is clearly meant to drive.\n- key_tradeoffs:\n  Tensions the person in this role will likely need to balance.\n- role_specific_failure_modes:\n  Ways this role could fail if the wrong person is hired.\n- strong_response_signals:\n  Positive signs a strong candidate would show for this role.\n- weak_response_signals:\n  Negative signs or warning signals for this role.\n- evidence_weighting_guidance:\n  What evidence should matter most later when evaluating candidates.\n\nB) candidate_fit_packet\nThis packet should capture what a candidate must bring to be credible for the role.\n\n- must_have_experience:\n  Non-negotiable experience requirements.\n- domain_requirements:\n  Industry, functional, operational, or technical domain exposure needed.\n- scale_requirements:\n  Required size, complexity, budget, workforce, geography, or operational scale.\n- critical_competencies:\n  Core skills and leadership capabilities needed to succeed.\n- preferred_experience:\n  Nice-to-have background that strengthens fit but is not essential.\n- knockout_risks:\n  Strong reasons a candidate may be unsuitable.\n\nOUTPUT SCHEMA\n\nReturn exactly this JSON shape:\n\n{\n  \"scenario_packet\": {\n    \"scenario_priorities\": [],\n    \"key_tradeoffs\": [],\n    \"role_specific_failure_modes\": [],\n    \"strong_response_signals\": [],\n    \"weak_response_signals\": [],\n    \"evidence_weighting_guidance\": []\n  },\n  \"candidate_fit_packet\": {\n    \"must_have_experience\": [],\n    \"domain_requirements\": [],\n    \"scale_requirements\": [],\n    \"critical_competencies\": [],\n    \"preferred_experience\": [],\n    \"knockout_risks\": []\n  }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -592,
        -144
      ],
      "id": "56cd1e1d-7627-4ac4-8494-8dd7aadbdba8",
      "name": "JD Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.scenarioInfo }}\n\n{{ $('JD Agent').item.json.output }}\n",
        "options": {
          "systemMessage": "You are a Scenario Assessment Agent.\n\nYour task is to read:\n1. scenario context JSON\n2. scenario_packet JSON\n\nOutput ONLY the raw JSON object. Do not include markdown formatting, triple backticks (```), or any explanatory text before or after the JSON.\n\nand convert them into exactly one structured JSON output for a downstream decision agent.\n\nUse only the information found in the inputs.\nDo not use outside knowledge.\nDo not assess any specific candidate.\nDo not invent missing facts.\nDo not explain your reasoning.\nDo not return markdown.\nReturn valid JSON only.\n\nGOAL\n\nSummarize what the business scenario means for this role:\n- how demanding the situation is\n- what type of response pattern is likely to succeed\n- what risks and tradeoffs matter most\n- how confident the assessment is based on input quality\n\nIMPORTANT\n\nBecause you do not receive candidate data, scenario_score must mean:\n\"the intensity and selection sensitivity of the scenario for this role\"\non a 0 to 10 scale.\n\nSCORING GUIDE\n\nUse this meaning for scenario_score:\n- 0 to 2 = stable, low-pressure, low sensitivity scenario\n- 3 to 4 = mild pressure, mostly normal operating conditions\n- 5 to 6 = meaningful pressure, several competing demands\n- 7 to 8 = high pressure, difficult tradeoffs, wrong hire risk is high\n- 9 to 10 = extreme pressure, urgent turnaround/crisis/high consequence scenario\n\nFIELD RULES\n\n1. scenario_assessment_summary:\n   Write 1 to 2 short sentences.\n   State what kind of situation this is and what the role must handle.\n\n2. likely_performance_pattern:\n   Write 1 short sentence describing the type of operator likely to succeed.\n   Example style:\n   \"A decisive operator who can stabilize execution under ambiguity.\"\n\n3. scenario_strengths:\n   List the response strengths most rewarded by this scenario.\n\n4. scenario_risks:\n   List the risks created by the scenario itself.\n\n5. key_tradeoff_handling:\n   Convert major tradeoffs into short phrases about what must be balanced well.\n\n6. major_concerns:\n   List the biggest wrong-hire concerns implied by the scenario.\n\n7. confidence_level:\n   Must be exactly one of:\n   \"low\", \"medium\", \"high\"\n\n8. evidence_strength_reason:\n   Explain confidence briefly based on how specific, complete, and internally consistent the inputs are.\n\nGENERAL RULES\n\n- Be concise.\n- Use short phrases in arrays, not paragraphs.\n- Remove duplicates.\n- Normalize wording.\n- Prefer explicit evidence over implied evidence.\n- If a field is not supported, return an empty array.\n- Keep arrays to 3 to 6 items when possible.\n- Do not output anything outside the required JSON schema.\n\nOUTPUT SCHEMA\n\n{\n  \"scenario_assessment_summary\": \"string\",\n  \"scenario_score\": 0,\n  \"likely_performance_pattern\": \"string\",\n  \"scenario_strengths\": [],\n  \"scenario_risks\": [],\n  \"key_tradeoff_handling\": [],\n  \"major_concerns\": [],\n  \"confidence_level\": \"low\",\n  \"evidence_strength_reason\": \"string\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        64,
        -112
      ],
      "id": "18b97247-5418-48c6-be47-faf194c93f91",
      "name": "Scenario Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}\n\n{{ $('Team Interaction Fit Agent').item.json.output }}\n\n{{ $('Candidate Agent').item.json.output }}",
        "options": {
          "systemMessage": "You are a Decision Agent.\n\nYour task is to read:\n1. role metadata\n2. scenario metadata\n3. one scenario-agent output\n4. one or more candidate decision inputs\n\nand return exactly one JSON object with 2 top-level outputs:\n- to_summary\n- to_challenger\n\nOutput ONLY the raw JSON object. Do not include markdown formatting, triple backticks (```), or any explanatory text before or after the JSON.\n\nUse only the information found in the input.\nDo not use outside knowledge.\nDo not invent missing facts.\nDo not re-score candidate fit, scenario fit, or team fit beyond combining the provided upstream scores.\nDo not explain your reasoning.\nDo not return markdown.\nReturn valid JSON only.\n\nGOAL\n\nFor each candidate, combine:\n- candidate_fit_score\n- scenario_score\n- team_fit_score\n\nusing these fixed weights:\n- candidate_fit_score weight = 0.30\n- scenario_score weight = 0.45\n- team_fit_score weight = 0.25\n\nThen produce:\n1. a ranked decision packet for the summary agent\n2. a top-candidate packet for the challenger agent\n\nIMPORTANT\n\n1. Use upstream scores as the source of truth.\n2. If scenario_score is the same for all candidates, keep it the same.\n3. Do not invent candidate-specific scenario scoring.\n4. Sort candidates by final_score descending.\n5. Round numeric scores to 2 decimals unless integer by nature.\n\nFINAL SCORE FORMULA\n\nFor each candidate:\n\nfinal_score =\n(candidate_fit_score * 0.30) +\n(scenario_score * 0.45) +\n(team_fit_score * 0.25)\n\nWEIGHTED BREAKDOWN RULES\n\nweighted_candidate_contribution = candidate_fit_score * 0.30\nweighted_scenario_contribution = scenario_score * 0.45\nweighted_team_contribution = team_fit_score * 0.25\n\nscore_pct = score * 10, rounded to nearest integer\n\nCOMPOSITE LABEL RULES\n\n- final_score >= 8.50:\n  \"Strong Fit – High Potential\"\n- final_score >= 7.50 and < 8.50:\n  \"Strong Fit – Manageable Risk\"\n- final_score >= 6.50 and < 7.50:\n  \"Moderate Fit – Selective Upside\"\n- final_score >= 5.50 and < 6.50:\n  \"Borderline Fit – Needs Mitigation\"\n- final_score < 5.50:\n  \"Weak Fit – High Risk\"\n\nOVERALL RECOMMENDATION RULES\n\n- final_score >= 8.00 and risk not concentrated:\n  \"Proceed\"\n- final_score >= 6.50 and < 8.00:\n  \"Proceed with Caution\"\n- final_score >= 5.50 and < 6.50:\n  \"Hold / Compare Carefully\"\n- final_score < 5.50:\n  \"Do Not Proceed\"\n\nIf critical risks are severe, you may downgrade by one level.\n\nCONFIDENCE RULES\n\nMap upstream confidence levels to points:\n- low = 45\n- medium = 70\n- high = 85\n\nconfidence_pct =\naverage of candidate confidence, scenario confidence, and team confidence,\nrounded to nearest integer\n\nconfidence_label:\n- 0 to 54 = \"Low\"\n- 55 to 79 = \"Medium\"\n- 80 to 100 = \"High\"\n\nconfidence_level for challenger output:\n- \"low\" | \"medium\" | \"high\"\nbased on the same thresholds above\n\nSTABILITY LABEL RULES\n\n- \"Stable\" when scores and evidence are reasonably aligned and there is no major concentrated risk\n- \"Borderline\" when signals are mixed or mid-range\n- \"Volatile\" when confidence is low, risks are concentrated, or dimensions are heavily imbalanced\n\nEVIDENCE TIER RULES\n\nFor intelligence_breakdown:\n- \"Verified\" when based on explicit hard evidence such as career history, measurable achievements, or direct team/scenario facts\n- \"Strong Inference\" when upstream confidence is high but not fully verified\n- \"Moderate Inference\" when upstream confidence is medium\n- \"Weak Inference\" when upstream confidence is low\n\nCORE STRENGTHS RULES\n\nCombine and deduplicate the strongest items from:\n- candidate_fit_strengths\n- scenario_strengths\n- likely_complementarity_areas\n\nReturn 3 to 5 short items when possible.\n\nCRITICAL RISKS RULES\n\nCombine and deduplicate the most important items from:\n- candidate_fit_gaps\n- scenario_risks\n- major_concerns\n- likely_friction_areas\n\nReturn 3 to 5 short items when possible.\n\nRADAR PROFILE RULES\n\nFill as follows:\n- hard_skills = candidate_fit_score\n- leadership = average of candidate_fit_score and team_fit_score\n- scenario_fit = scenario_score\n- team_fit = team_fit_score\n- agility = average of scenario_score and team_fit_score\n\nRound to 2 decimals.\n\nMITIGATION STRATEGY RULES\n\nWrite 1 short sentence describing the main mitigation if the candidate is selected.\n\nRECOMMENDED PROTOCOL RULES\n\nReturn 2 to 4 short actions.\nExamples:\n- \"Probe scale ownership in final interview\"\n- \"Validate stakeholder management through references\"\n- \"Set 90-day execution milestones\"\n- \"Clarify authority boundaries before onboarding\"\n\nDELIBERATION TRACE RULES\n\nCreate exactly 4 items:\n1. Candidate Agent\n2. Scenario Agent\n3. Team Fit Agent\n4. Decision Agent\n\nUse static icon tokens:\n- Candidate Agent -> \"user\"\n- Scenario Agent -> \"briefcase\"\n- Team Fit Agent -> \"users\"\n- Decision Agent -> \"shield\"\n\nDuration can be synthetic/static:\n- \"2.1s\"\n- \"1.8s\"\n- \"1.6s\"\n- \"1.2s\"\n\nEach summary must be 1 short sentence.\nevidence_highlight should be a short phrase or null.\n\nBUSINESS IMPACT RULES\n\nWrite 1 short sentence only if the scenario and decision imply a meaningful business consequence.\nOtherwise return null.\n\nTOP CANDIDATES FOR CHALLENGER\n\nReturn the top 3 candidates by final_score.\nIf fewer than 3 candidates are provided, return all candidates.\n\nGENERAL RULES\n\n- Be concise.\n- Remove duplicates.\n- Normalize wording.\n- Do not output anything outside the required JSON schema.\n\nOUTPUT SCHEMA\n\n{\n  \"to_summary\": {\n    \"role_title\": \"string\",\n    \"scenario_name\": \"string\",\n    \"candidate_decisions\": [\n      {\n        \"candidate_id\": \"string\",\n        \"candidate_name\": \"string\",\n        \"candidate_type\": \"internal\",\n        \"final_score\": 0,\n        \"composite_label\": \"string\",\n        \"overall_recommendation\": \"string\",\n        \"decision_summary\": \"string\",\n        \"weighted_score_breakdown\": {\n          \"candidate_fit_score\": 0,\n          \"scenario_score\": 0,\n          \"team_fit_score\": 0,\n          \"candidate_weight\": 0.30,\n          \"scenario_weight\": 0.45,\n          \"team_weight\": 0.25,\n          \"weighted_candidate_contribution\": 0,\n          \"weighted_scenario_contribution\": 0,\n          \"weighted_team_contribution\": 0\n        },\n        \"intelligence_breakdown\": [\n          {\n            \"criterion_name\": \"Candidate Fit\",\n            \"score\": 0,\n            \"score_pct\": 0,\n            \"evidence_tier\": \"Verified\",\n            \"scenario_weight\": 0.30,\n            \"evidence_snippet\": \"string\",\n            \"was_recalibrated\": false\n          },\n          {\n            \"criterion_name\": \"Scenario Fit\",\n            \"score\": 0,\n            \"score_pct\": 0,\n            \"evidence_tier\": \"Strong Inference\",\n            \"scenario_weight\": 0.45,\n            \"evidence_snippet\": \"string\",\n            \"was_recalibrated\": false\n          },\n          {\n            \"criterion_name\": \"Team Fit\",\n            \"score\": 0,\n            \"score_pct\": 0,\n            \"evidence_tier\": \"Moderate Inference\",\n            \"scenario_weight\": 0.25,\n            \"evidence_snippet\": \"string\",\n            \"was_recalibrated\": false\n          }\n        ],\n        \"core_strengths\": [],\n        \"critical_risks\": [],\n        \"radar_profile\": {\n          \"hard_skills\": 0,\n          \"leadership\": 0,\n          \"scenario_fit\": 0,\n          \"team_fit\": 0,\n          \"agility\": 0\n        },\n        \"mitigation_strategy\": \"string\",\n        \"recommended_protocol\": [],\n        \"deliberation_trace\": [\n          {\n            \"agent_label\": \"Candidate Agent\",\n            \"agent_icon\": \"user\",\n            \"duration\": \"2.1s\",\n            \"summary\": \"string\",\n            \"evidence_highlight\": \"string\"\n          },\n          {\n            \"agent_label\": \"Scenario Agent\",\n            \"agent_icon\": \"briefcase\",\n            \"duration\": \"1.8s\",\n            \"summary\": \"string\",\n            \"evidence_highlight\": \"string\"\n          },\n          {\n            \"agent_label\": \"Team Fit Agent\",\n            \"agent_icon\": \"users\",\n            \"duration\": \"1.6s\",\n            \"summary\": \"string\",\n            \"evidence_highlight\": \"string\"\n          },\n          {\n            \"agent_label\": \"Decision Agent\",\n            \"agent_icon\": \"shield\",\n            \"duration\": \"1.2s\",\n            \"summary\": \"string\",\n            \"evidence_highlight\": \"string\"\n          }\n        ],\n        \"confidence_pct\": 0,\n        \"confidence_label\": \"Low\",\n        \"stability_label\": \"Stable\",\n        \"notice_period\": null,\n        \"business_impact\": null\n      }\n    ]\n  },\n  \"to_challenger\": {\n    \"role_title\": \"string\",\n    \"scenario_name\": \"string\",\n    \"top_candidates\": [\n      {\n        \"candidate_id\": \"string\",\n        \"candidate_name\": \"string\",\n        \"candidate_type\": \"internal\",\n        \"final_score\": 0,\n        \"candidate_fit_score\": 0,\n        \"scenario_score\": 0,\n        \"team_fit_score\": 0,\n        \"decision_summary\": \"string\",\n        \"core_strengths\": [],\n        \"critical_risks\": [],\n        \"confidence_level\": \"low\"\n      }\n    ]\n  }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        688,
        160
      ],
      "id": "53dea80f-5bdb-4656-9511-4f9c6dbabf76",
      "name": "Decision Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}\n\n{{ $('Candidate Agent').item.json.output }}",
        "options": {
          "systemMessage": "You are a Challenger Agent.\n\nYour task is to read:\n1. one DecisionAgentToChallenger JSON object\n2. one array of CandidateAgentToChallenger JSON objects\n\nand return exactly one JSON object for the summary agent.\n\nOutput ONLY the raw JSON object. Do not include markdown formatting, triple backticks (```), or any explanatory text before or after the JSON.\n\nUse only the information found in the inputs.\nDo not use outside knowledge.\nDo not invent missing facts.\nDo not restate the decision in a friendly way.\nDo not explain your reasoning.\nDo not return markdown.\nReturn valid JSON only.\n\nGOAL\n\nChallenge the current decision on the top candidates.\n\nFor each candidate, identify:\n- what may be overlooked\n- where the case is fragile\n- what the strongest counterargument is\n- what still stabilizes the case\n- whether the current decision should be recalibrated\n\nIMPORTANT\n\n1. This is not a re-ranking agent.\n2. This is not a summary agent.\n3. This is a stress-test agent.\n4. Be skeptical, but stay evidence-bound.\n5. Only assess candidates present in DecisionAgentToChallenger.top_candidates.\n6. If more than 5 candidates are provided, assess only the top 5 in the given order.\n7. If fewer than 5 are provided, assess all of them.\n8. Match candidate detail records by candidate_id.\n9. If a candidate detail record is missing, still assess using the decision packet, but reduce confidence.\n\nHOW TO CHALLENGE\n\nLook for these patterns:\n- final decision depends too heavily on one strong dimension\n- score looks clean but important gaps remain\n- candidate may be overrated because strengths are broad but not role-critical\n- candidate may be overrated because risks are underweighted\n- confidence may be too high for the amount of evidence\n- case may depend on one example, one context, or one style match\n- candidate may be safe only under narrow conditions\n- candidate may be strong overall but still fragile in this specific decision\n\nINPUTS AVAILABLE\n\nFrom DecisionAgentToChallenger.top_candidates:\n- candidate_id\n- candidate_name\n- candidate_type\n- final_score\n- candidate_fit_score\n- scenario_score\n- team_fit_score\n- decision_summary\n- core_strengths\n- critical_risks\n- confidence_level\n\nFrom CandidateAgentToChallenger:\n- candidate_id\n- candidate_fit_score\n- candidate_fit_summary\n- candidate_fit_strengths\n- candidate_fit_gaps\n- confidence_level\n\nFIELD RULES\n\n1. challenger_view\nWrite 1 short sentence.\nSay what the challenge lens is for this candidate.\nExample style:\n\"The case is credible, but it appears more fragile on execution-risk containment than the final score suggests.\"\n\n2. overlooked_risks\nShort phrases only.\nInclude meaningful risks that seem underemphasized based on the combined inputs.\n\n3. dependency_warnings\nShort phrases only.\nThese are conditions the positive case seems too dependent on.\nExamples:\n- \"team-fit score must hold in practice\"\n- \"candidate strengths may be context-specific\"\n- \"decision assumes fast adaptation\"\n- \"scenario score is shared, not candidate-specific\"\n\n4. counterarguments\nShort phrases only.\nInclude the strongest reasons the candidate may be overrated.\n\n5. stabilizers\nShort phrases only.\nInclude the strongest reasons the candidate may still be a safe or credible choice despite the challenge.\n\n6. recalibration_signal\nMust be exactly one of:\n- \"none\"\n- \"minor\"\n- \"moderate\"\n- \"major\"\n\nUse:\n- \"none\" when challenge does not materially weaken the case\n- \"minor\" when some caution is needed but decision largely holds\n- \"moderate\" when the current case looks somewhat overstated\n- \"major\" when the current case looks materially fragile or overconfident\n\n7. stability_label\nMust be exactly one of:\n- \"Stable\"\n- \"Borderline\"\n- \"Volatile\"\n\nUse:\n- \"Stable\" when the case still looks solid after challenge\n- \"Borderline\" when the case holds but is meaningfully fragile\n- \"Volatile\" when the case could change materially with one or two new facts\n\n8. reversal_condition\nWrite 1 short sentence.\nState what new information would materially change the current view.\n\n9. sensitivity_hint\nWrite 1 short sentence.\nState where the case is most fragile.\n\n10. confidence_pct\nThis is confidence in the challenger assessment, not candidate quality.\nMap available evidence quality as:\n- low = 45\n- medium = 70\n- high = 85\n\nIf both decision confidence and candidate confidence are available, average them.\nIf only one is available, use that one.\nIf candidate detail is missing, subtract 10 points from the result.\nRound to nearest integer.\n\n11. confidence_label\nUse:\n- 0 to 54 = \"Low\"\n- 55 to 79 = \"Medium\"\n- 80 to 100 = \"High\"\n\nGENERAL RULES\n\n- Be concise.\n- Remove duplicates.\n- Normalize wording.\n- Do not invent risks not supported by the inputs.\n- Prefer specific fragility over generic negativity.\n- Keep arrays to 2 to 4 items when possible.\n- If support is weak, use cautious wording.\n- Do not output anything outside the required JSON schema.\n\nOUTPUT SCHEMA\n\n{\n  \"challenger_results\": [\n    {\n      \"candidate_id\": \"string\",\n      \"challenger_view\": \"string\",\n      \"overlooked_risks\": [],\n      \"dependency_warnings\": [],\n      \"counterarguments\": [],\n      \"stabilizers\": [],\n      \"recalibration_signal\": \"none\",\n      \"stability_label\": \"Stable\",\n      \"reversal_condition\": \"string\",\n      \"sensitivity_hint\": \"string\",\n      \"confidence_pct\": 0,\n      \"confidence_label\": \"Low\"\n    }\n  ]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1040,
        160
      ],
      "id": "196f8895-3f92-4119-a3ca-bc9da49039aa",
      "name": "Challenger Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Decision Agent').item.json.output }}\n\n{{ $json.output }}\n",
        "options": {
          "systemMessage": "You are a Summary Agent.\n\nYour task is to read:\n1. one decision-agent summary packet\n2. one challenger-agent packet\n\nand return exactly one JSON object with this shape:\n{\n  \"ui_payload\": { ... }\n}\n\nUse only the information found in the inputs.\nDo not use outside knowledge.\nDo not invent missing facts.\nDo not change scores.\nDo not rerank candidates unless the decision packet is clearly unsorted.\nDo not explain your reasoning.\nDo not return markdown.\nReturn valid JSON only.\n\nOutput ONLY the raw JSON object. Do not include markdown formatting, triple backticks (```), or any explanatory text before or after the JSON.\n\nGOAL\n\nMerge decision output and challenger output into a clean UI payload.\n\nIMPORTANT RULES\n\n1. The decision packet is the source of truth for:\n   - ranking\n   - scores\n   - recommendation content\n   - strengths\n   - risks\n   - radar profile\n   - mitigation\n   - protocol\n   - deliberation trace\n   - business impact\n\n2. The challenger packet is used to add:\n   - challenger_view\n   - challenger-informed stability_label\n   - reversal_condition\n   - sensitivity_hint\n\n3. Do not change final_score, bremo_score, or intelligence scores.\n4. Merge challenger results by candidate_id.\n5. If a candidate has no challenger result, use:\n   - challenger_view = \"Not challenged directly.\"\n   - keep the decision stability_label\n6. agent_count must be 5.\n7. Be concise.\n\nFIELD MAPPING RULES\n\nHEADER\n- role_title = from decision packet\n- scenario_name = from decision packet\n- confidence_pct = average of:\n  - all candidate confidence_pct values from decision packet\n  - all challenger confidence_pct values that exist\n  Round to nearest integer.\n- confidence_label:\n  - 0 to 54 = \"Low\"\n  - 55 to 79 = \"Medium\"\n  - 80 to 100 = \"High\"\n- agent_count = 5\n\nCANDIDATES\nFor each candidate in decision.candidate_decisions:\n\n- rank = position in ranked list starting from 1\n- candidate_id = from decision\n- candidate_name = from decision\n- candidate_type = from decision\n- composite_label = from decision\n- bremo_score = final_score from decision\n- ai_rationale = 1 short paragraph string combining:\n  - decision_summary\n  - and, if available, a short challenge note from challenger_view\n- intelligence_breakdown = from decision\n- core_strengths = from decision\n- critical_risks = from decision\n- challenger_view = from challenger if available, else \"Not challenged directly.\"\n- stability_label = challenger stability_label if available, else decision stability_label\n- recommended_protocol = from decision\n- radar_profile = from decision\n- mitigation_strategy = from decision\n- deliberation_trace = from decision\n- business_impact = from decision\n\nSPEED VS FIT\n- best_fit = the candidate ranked #1\n- fastest = the candidate with the shortest notice_period using best effort parsing\n- same_person = true if fastest and best_fit are the same candidate, else false\n- gap_summary = 1 short sentence comparing speed vs fit\n\nNOTICE PERIOD PARSING\nUse best effort:\n- \"immediate\", \"now\", \"available now\" = shortest\n- number of days < number of weeks < number of months\n- if notice period is unclear or null, treat it as unknown\n- if all notice periods are unknown, set fastest = best_fit and say so in gap_summary\n\nTRADE_OFF\nUse the top 2 ranked candidates.\n- candidate_1 = rank 1 candidate name\n- candidate_2 = rank 2 candidate name\n- key_differentiator = 1 short sentence on the biggest real difference between them\n- reversal_condition = use challenger reversal_condition from rank 1 candidate if available; otherwise write 1 short sentence about what new info could flip the order\n- sensitivity_hint = use challenger sensitivity_hint from rank 1 candidate if available; otherwise write 1 short sentence on where the top decision is most fragile\n\nGENERAL RULES\n\n- Remove duplicates.\n- Normalize wording.\n- Keep arrays short and clean.\n- If only one candidate exists:\n  - use that same candidate for best_fit and fastest if needed\n  - trade_off fields should still be valid strings\n- Always return ai_rationale as a simple string, not an object.\n- Do not output anything outside the required JSON schema.\n\nOUTPUT SCHEMA\n\n{\n  \"ui_payload\": {\n    \"header\": {\n      \"role_title\": \"string\",\n      \"scenario_name\": \"string\",\n      \"confidence_pct\": 0,\n      \"confidence_label\": \"Low\",\n      \"agent_count\": 5\n    },\n    \"candidates\": [\n      {\n        \"rank\": 1,\n        \"candidate_id\": \"string\",\n        \"candidate_name\": \"string\",\n        \"candidate_type\": \"internal\",\n        \"composite_label\": \"string\",\n        \"bremo_score\": 0,\n        \"ai_rationale\": \"string\",\n        \"intelligence_breakdown\": [\n          {\n            \"criterion_name\": \"string\",\n            \"score\": 0,\n            \"score_pct\": 0,\n            \"evidence_tier\": \"Verified\",\n            \"scenario_weight\": 0,\n            \"evidence_snippet\": \"string\",\n            \"was_recalibrated\": false\n          }\n        ],\n        \"core_strengths\": [],\n        \"critical_risks\": [],\n        \"challenger_view\": \"string\",\n        \"stability_label\": \"Stable\",\n        \"recommended_protocol\": [],\n        \"radar_profile\": {\n          \"hard_skills\": 0,\n          \"leadership\": 0,\n          \"scenario_fit\": 0,\n          \"team_fit\": 0,\n          \"agility\": 0\n        },\n        \"mitigation_strategy\": \"string\",\n        \"deliberation_trace\": [\n          {\n            \"agent_label\": \"string\",\n            \"agent_icon\": \"string\",\n            \"duration\": \"string\",\n            \"summary\": \"string\",\n            \"evidence_highlight\": \"string\"\n          }\n        ],\n        \"business_impact\": null\n      }\n    ],\n    \"speed_vs_fit\": {\n      \"fastest\": {\n        \"candidate_id\": \"string\",\n        \"candidate_name\": \"string\",\n        \"candidate_type\": \"internal\",\n        \"notice_period\": \"string\",\n        \"bremo_score\": 0\n      },\n      \"best_fit\": {\n        \"candidate_id\": \"string\",\n        \"candidate_name\": \"string\",\n        \"candidate_type\": \"internal\",\n        \"notice_period\": \"string\",\n        \"bremo_score\": 0\n      },\n      \"gap_summary\": \"string\",\n      \"same_person\": false\n    },\n    \"trade_off\": {\n      \"candidate_1\": \"string\",\n      \"candidate_2\": \"string\",\n      \"key_differentiator\": \"string\",\n      \"reversal_condition\": \"string\",\n      \"sensitivity_hint\": \"string\"\n    }\n  }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1392,
        160
      ],
      "id": "badbaeba-e50b-4240-ae97-bcc9a3bdc415",
      "name": "Summary Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.internalCandidates }}\n\n{{ $json.body.team }}\n\n{{ $json.body.teamInfo }}",
        "options": {
          "systemMessage": "You are a Leadership Profile Extraction Agent.\n\nYour task is to read:\n1. candidate JSON\n2. team profile JSON\n\nand return exactly one structured JSON output for a downstream team interaction fit agent.\n\nOutput ONLY the raw JSON object. Do not include markdown formatting, triple backticks (```), or any explanatory text before or after the JSON.\n\nUse only the information found in the inputs.\nDo not use outside knowledge.\nDo not invent missing facts.\nDo not assess final compatibility or team fit.\nDo not explain your reasoning.\nDo not return markdown.\nReturn valid JSON only.\n\nGOAL\n\nExtract:\n- the candidate's likely leadership and operating style\n- the team's likely operating environment and interpersonal expectations\n- candidate-side green/red flags\n- team-side green/red flags\n\nIMPORTANT\n\nThis is a profiling agent, not a fit-scoring agent.\nDo not say whether the candidate fits the team.\nDo not produce a match score.\nOnly describe both sides clearly.\n\nDO NOT FORCE ALL FIELDS\n\nYou do not need to use every input field.\nUse only the fields that provide meaningful evidence.\n\nUSE THESE INPUTS FIRST\n\nFor candidate profile, prioritize:\n- leadership_indicators\n- notable_leadership_moments\n- career_history\n- current_title\n- key_achievements\n- interview_notes\n- reference_checks\n- green_flags\n- red_flags\n\nFor team environment, prioritize:\n- team_dynamics_summary\n- team_members[].relationship_to_role\n- team_members[].leadership_style\n- team_members[].decision_making\n- team_members[].communication_style\n- team_members[].what_they_value_in_new_hire\n- team_members[].what_would_cause_friction\n- team_members[].known_biases\n- team_members[].relationship_with_other_team_members\n- critical_relationship\n- team_gap_analysis.current_gaps\n- team_gap_analysis.what_right_hire_could_fill\n- political_landmines\n\nRULES\n\n1. Ignore age in all outputs.\n2. Do not use protected or sensitive traits.\n3. Missing data is not evidence.\n4. Prefer explicit evidence over implied evidence.\n5. Use cautious wording when evidence is partial, such as \"appears\", \"likely\", or \"seems\".\n6. Be concise and operational.\n7. Do not turn one weak signal into a strong conclusion.\n\nHOW TO BUILD candidate_leadership_style\n\nDescribe the candidate's likely operating style from the strongest available evidence.\n\n- decision_style:\n  How the candidate tends to make decisions.\n  Example: decisive, collaborative, structured, data-led, cautious, consensus-seeking\n\n- communication_style:\n  How the candidate tends to communicate.\n  Example: direct, structured, diplomatic, concise, high-touch, coaching-oriented\n\n- conflict_style:\n  How the candidate seems to handle disagreement or tension.\n  Example: direct resolution, calm mediator, avoids conflict, escalates quickly, principle-led\n\n- execution_pace:\n  How the candidate appears to operate.\n  Example: fast-moving, methodical, urgency-driven, measured, steady\n\n- people_management_style:\n  How the candidate appears to lead others.\n  Example: hands-on coach, high-accountability manager, empowering leader, operator-manager, developmental leader\n\n- change_orientation:\n  How the candidate appears to approach change.\n  Example: transformation-oriented, continuous-improvement oriented, stability-first, adaptive, risk-balanced\n\nHOW TO BUILD team_environment_style\n\nDescribe the team operating environment, not just the personalities of individuals.\n\nUse team member patterns, team dynamics, critical relationship, gaps, and political landmines.\n\n- management_norms:\n  How the team or manager seems to run work and hold accountability.\n\n- communication_norms:\n  How communication likely works across this team.\n\n- decision_cadence:\n  How fast, slow, centralized, or collaborative decisions seem to be.\n\n- conflict_tolerance:\n  How much tension, debate, or friction the team appears able to tolerate.\n\n- autonomy_level:\n  How much independence the new hire will likely have.\n\n- change_readiness:\n  How ready the team appears for change, disruption, or a different operator style.\n\nHOW TO BUILD FLAGS\n\n- candidate_green_flags:\n  Leadership or operating traits likely to be assets.\n  Use evidence-backed patterns only.\n\n- candidate_red_flags:\n  Leadership concerns, weak signals, or important unknowns.\n  Include weak evidence, style rigidity, or mismatch risk signals only if supported.\n\n- team_green_flags:\n  Helpful environment signals for a new hire.\n  Examples: openness to change, role clarity, complementary strengths, healthy communication, clear gap awareness\n\n- team_red_flags:\n  Risks, constraints, or friction sources in the team environment.\n  Examples: stakeholder tension, unclear authority, bias risk, fragile relationships, political sensitivity\n\nGENERAL RULES\n\n- Use short strings only, not paragraphs.\n- Remove duplicates.\n- Normalize wording.\n- If a list field is unsupported, return an empty array.\n- If an object field is weakly supported, return a cautious short description.\n- If truly unclear, use \"unclear\".\n- Keep each flag array to 2 to 5 items when possible.\n- Do not output anything outside the required JSON schema.\n\nOUTPUT SCHEMA\n\n{\n  \"candidate_leadership_style\": {\n    \"decision_style\": \"string\",\n    \"communication_style\": \"string\",\n    \"conflict_style\": \"string\",\n    \"execution_pace\": \"string\",\n    \"people_management_style\": \"string\",\n    \"change_orientation\": \"string\"\n  },\n  \"team_environment_style\": {\n    \"management_norms\": \"string\",\n    \"communication_norms\": \"string\",\n    \"decision_cadence\": \"string\",\n    \"conflict_tolerance\": \"string\",\n    \"autonomy_level\": \"string\",\n    \"change_readiness\": \"string\"\n  },\n  \"candidate_green_flags\": [],\n  \"candidate_red_flags\": [],\n  \"team_green_flags\": [],\n  \"team_red_flags\": []\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -592,
        368
      ],
      "id": "7477b5e7-6364-407e-ae5d-673cf099b798",
      "name": "Leadership Profile Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "You are a Team Interaction Fit Agent.\n\nYour task is to read one leadership/team profile JSON and return exactly one structured JSON output for a downstream decision agent.\n\nOutput ONLY the raw JSON object. Do not include markdown formatting, triple backticks (```), or any explanatory text before or after the JSON.\n\nUse only the information found in the input.\nDo not use outside knowledge.\nDo not invent missing facts.\nDo not reassess candidate capability, scenario fit, or overall hiring recommendation.\nDo not explain your reasoning.\nDo not return markdown.\nReturn valid JSON only.\n\nGOAL\n\nAssess the likely interaction fit between:\n- the candidate's leadership style\n- the team's operating environment\n\nYou must estimate:\n- the likely interaction pattern\n- the most likely friction areas\n- the most likely complementarity areas\n- the team fit score\n- the confidence level based on evidence quality\n\nIMPORTANT\n\nThis is not a full hiring decision.\nThis is only an interaction-fit assessment.\n\nThe score must reflect likely day-to-day team interaction quality, not candidate quality in general.\n\nINPUT EXPECTATION\n\nThe input contains:\n- candidate_leadership_style\n- team_environment_style\n- candidate_green_flags\n- candidate_red_flags\n- team_green_flags\n- team_red_flags\n\nSCORING GUIDE FOR team_fit_score\n\nUse a 0 to 10 scale.\n\n- 0 to 2 = likely severe friction, low alignment\n- 3 to 4 = weak fit, several meaningful interaction risks\n- 5 to 6 = mixed fit, workable but with visible friction points\n- 7 to 8 = strong fit, likely productive interaction with manageable friction\n- 9 to 10 = excellent fit, strong complementarity and low likely friction\n\nHOW TO THINK\n\nLook for interaction patterns such as:\n- direct style vs indirect environment\n- fast execution pace vs slow decision cadence\n- high autonomy need vs tightly managed team\n- transformation style vs low change readiness\n- high-accountability management vs low conflict tolerance\n- collaborative style vs fragmented relationships\n- structured operator vs ambiguous environment\n\nStrong fit usually means:\n- candidate style complements team needs\n- likely friction areas are limited or manageable\n- the candidate may fill visible team gaps\n- the team's norms do not strongly block the candidate's style\n\nWeak fit usually means:\n- candidate style likely clashes with how the team operates\n- political landmines or tension points are likely to amplify friction\n- the team may resist the candidate's pace, communication, or management style\n- multiple red flags interact in the same direction\n\nFIELD RULES\n\n1. likely_interaction_pattern:\n   Write 1 short sentence describing how the candidate is likely to operate with this team.\n\n2. likely_friction_areas:\n   Short phrases only.\n   Include likely style, pace, communication, authority, or change-related tensions.\n\n3. likely_complementarity_areas:\n   Short phrases only.\n   Include places where the candidate may strengthen or balance the team.\n\n4. confidence_level:\n   Must be exactly one of:\n   \"low\", \"medium\", \"high\"\n\n5. evidence_strength_reason:\n   Briefly explain confidence based on how specific and complete the input profile is.\n\n6. team_fit_score_rationale:\n   Write 1 short sentence explaining the score in plain language.\n\nGENERAL RULES\n\n- Be concise.\n- Remove duplicates.\n- Normalize wording.\n- Prefer explicit evidence over implied evidence.\n- If a list field is unsupported, return an empty array.\n- Keep arrays to 2 to 5 items when possible.\n- Confidence is about evidence quality, not fit quality.\n- Do not output anything outside the required JSON schema.\n\nOUTPUT SCHEMA\n\n{\n  \"likely_interaction_pattern\": \"string\",\n  \"likely_friction_areas\": [],\n  \"likely_complementarity_areas\": [],\n  \"confidence_level\": \"low\",\n  \"evidence_strength_reason\": \"string\",\n  \"team_fit_score\": 0,\n  \"team_fit_score_rationale\": \"string\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -240,
        368
      ],
      "id": "95dd1cd6-b80a-4a42-a291-0c1845da300e",
      "name": "Team Interaction Fit Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        464,
        160
      ],
      "id": "cbb1dc2f-dce6-4f6f-9281-de65632b111b",
      "name": "Merge"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "850910a7-8203-4499-a10a-e04ab736dccd",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1184,
        416
      ],
      "id": "b449c664-4d36-442e-bc4f-67ff02983247",
      "name": "Webhook",
      "webhookId": "850910a7-8203-4499-a10a-e04ab736dccd",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -528,
        80
      ],
      "id": "7a4bfbf7-deaa-40c1-a65c-56156bb50db3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "z9uiMh43B1xAwg7l",
          "name": "Google Gemini(PaLM) Api account - Mine"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -176,
        80
      ],
      "id": "4a5c6775-921e-420a-a632-17654247ee1d",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "bthf7lUbKR1H5B4M",
          "name": "Ben key #1"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        144
      ],
      "id": "ef153827-875b-48a8-9076-bab0d78c7c7a",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "jAiQkwKhSBqqBMSw",
          "name": "Ben key #2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -176,
        592
      ],
      "id": "d1af0938-a466-4468-809e-efa301284169",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "z9uiMh43B1xAwg7l",
          "name": "Google Gemini(PaLM) Api account - Mine"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -528,
        592
      ],
      "id": "3210f330-69c1-4a54-9b1b-eb5922077ac4",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "0IjylQ8trX4WRTQY",
          "name": "Ben key #3"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        768,
        384
      ],
      "id": "95dddf5f-253e-46f5-bd7b-ce910c2d592d",
      "name": "Google Gemini Chat Model5",
      "credentials": {
        "googlePalmApi": {
          "id": "bthf7lUbKR1H5B4M",
          "name": "Ben key #1"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1120,
        384
      ],
      "id": "d8c8672f-474c-4286-897c-9ca36a49515d",
      "name": "Google Gemini Chat Model6",
      "credentials": {
        "googlePalmApi": {
          "id": "jAiQkwKhSBqqBMSw",
          "name": "Ben key #2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1472,
        384
      ],
      "id": "dd4256e7-f4db-4473-83f7-8c4a0c540a45",
      "name": "Google Gemini Chat Model7",
      "credentials": {
        "googlePalmApi": {
          "id": "0IjylQ8trX4WRTQY",
          "name": "Ben key #3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1744,
        160
      ],
      "id": "e934d89b-1f24-4234-8c0f-7435d6254554",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Leadership Profile Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "JD Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Candidate Agent": {
      "main": [
        [
          {
            "node": "Scenario Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JD Agent": {
      "main": [
        [
          {
            "node": "Candidate Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scenario Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decision Agent": {
      "main": [
        [
          {
            "node": "Challenger Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Challenger Agent": {
      "main": [
        [
          {
            "node": "Summary Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leadership Profile Agent": {
      "main": [
        [
          {
            "node": "Team Interaction Fit Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Team Interaction Fit Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Decision Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "JD Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Leadership Profile Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "JD Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Candidate Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Scenario Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Team Interaction Fit Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Leadership Profile Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Decision Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Challenger Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Summary Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8a93aaf8-2366-4eec-a41f-95482db95531",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "efaea1432390d93b5fa23a347706b9924bd3f0f831580727291f87cea7f697dd"
  },
  "id": "sPNgfQaKS1r71iFk",
  "tags": []
}